<% provide(:title, @user.name) %>
<div class="big-title fadeInRight animated">
  Dashboard
</div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <h1>
        Your Accounts
      </h1>
      <h1> Your Plans </h1>
      <% Plan.all.to_a.each do |sc| %>
        <% if sc.user_id == current_user.id %>
          <li class="plan-list-box" id="<%= 'pl-#{sc.id}' %>">
            <%= "#{sc.name}, Vest Level: #{sc.vest_level}, id: #{sc.id}" %>
          </li>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>
