<div class="account-gallery">
  <h1>As Yet Untitled Code Louisville Rails Project</h1>
  <p>
    Hello!  A word of introduction is in order if you are visiting at this point.
    This app aims to be a financial planning tool, allowing users to project 
    income and expenses into the future and experiment with savings and payoff 
    plans.  
  </p>

  <p>
    And it works! <small>If you are me and already know where everything is...</small>
  </p>

  <p>
    So yeah, I haven't gotten around to making it usable <em>per se</em>. But feel 
    free to create an account and click around, ensuring that it passes muster for
    Code Louisville graduation.  We have models, authentication, scoping, 
    associations, the whole nine yards.  
  </p> 

  <p>
    Thanks for stopping by!
  </p>


