@import "bootstrap-sprockets";
@import "bootstrap";


$accent-low: #699;
$accent-high: #d2e1dd;
$accent-low-text: #000;

$sidebar-back: $accent-low;
$sidebar-text: $accent-low-text;
$acct-box-back: $accent-high;

.sidebar {
  background-color: $sidebar-back;
  color: $sidebar-text;
  height: 100vh;
}

.sidebar ul {
  display: inline-block;
  list-style: none;
  width: 100%;
}

.acct_box {
  background-color: $acct-box-back;
  width: 80%;
  border-radius: 10%;
  margin: 1rem;
  padding: 0.5rem;
}
